<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app version="3.0"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns="http://java.sun.com/xml/ns/javaee"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

  <display-name>Controller</display-name>
  <welcome-file-list>
      <welcome-file>controller</welcome-file>
  </welcome-file-list>

  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <servlet-name>Controller</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LocaleFilter</filter-name>
    <servlet-name>Controller</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <servlet-name>Controller</servlet-name>
  </filter-mapping>

  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/jsp/error.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.RuntimeException</exception-type>
    <location>/WEB-INF/jsp/error.jsp</location>
  </error-page>
</web-app>
